/*
  Red de Bibliotecas de Medellín Área Metropolitana
  rbmam.css
*/

body,
fieldset legend { background-color: #f3f2ed; }

.logo { background-image: url('../img/background-cabezote.jpg'); }

#logo img { display: block; margin: auto; }

.header-form { margin-top: 20px; margin-bottom: 35px; }

.header,
.instructions { color: #1eaddb; }

.alert-container { margin-top: 15px; }

.row .row-form { margin-bottom: 10px; }

.optional { color: #8a2be2; font-size: 70%; }

.instructions,
.guarantor_instructions { font-size: 90%; }

.mandatory.order { color: #f00; }

.guarantor_instructions { color: #8B0000 }

input[type="text"] { text-transform: uppercase; }
